body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

.container {
  margin-top: 50px;
}

h3 {
  margin-bottom: 30px;
  color: #343a40;
}

.btn-transaction {
  margin: 10px;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-transaction i {
  margin-right: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.scrollable-table {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
}

.table-hover tbody tr:hover {
  background-color: #98bfe7;
}

.table th {
  cursor: pointer;
}

.table th,
.table td {
  text-align: center;
}

.form-row {
  align-items: center;
}

.form-control {
  margin-bottom: 10px;
}
