body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

.container {
  margin-top: 50px;
}

h3 {
  font-weight: bold;
  border-bottom: 3px solid darkred;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

th {
  background-color: #343a40;
  color: white;
  font-weight: bold;
}

.table-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.proceed-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.proceed-btn button {
  font-size: 18px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proceed-btn button i {
  margin-right: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
