body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #007bff;
  margin-bottom: 20px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ccc;
}

.navbar-brand {
  font-weight: bold;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table {
  margin-bottom: 20px;
  max-width: 70%; /* Adjust the table width */
  max-height: 100px; /* Adjust the table height */
  margin-left: auto;
  margin-right: auto;
}

.form-group label {
  font-weight: bold;
}

.btn-group .btn {
  margin-right: 10px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-title {
  margin: 0 auto;
}

.modal-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
